body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.menu {
  width: 1200px;
  height: 60px;
  top: -97px;
  left: -601px;
}

img {
  width: 40px;
  height: 40px;
  top: 10px;
  left: 50px;
  position: absolute;
}

.rectangle_2 {
  width: 37px;
  height: 4px;
  top: 56px;
  left: 509px;
  gap: 0;
  border-radius: 8px;
  background-color: #00ACDC;
  bottom: 0;
  position: absolute;
}

.rectangle {
  width: 1200px;
  height: 60px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav_link {
  font-style: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.nav_item {
  margin: 0 10px;
}

.nav_link:hover {
  color: #00ACDC;
}

.nav_link.is-active {
  color: #00ACDC;
}
